<div class="page">
    <div class="right">
        <a routerLink="/create" class="btn-primary">
            Agregar
        </a>
    </div>

    @if (deleteError) {
    <div class="alert error">
        {{ deleteError }}
    </div>
    }

    @if (loading) {
    <app-skeleton-table />
    }

    @if (!loading && errorMessage) {
    <div class="alert error">
        <span>{{ errorMessage }}</span>
        <button class="btn-retry" (click)="loadProducts()">
            Reintentar
        </button>
    </div>
    }

    @if (!loading && !errorMessage && !hasItems) {
    <div class="empty-state">
        <p>No hay productos registrados aún.</p>
    </div>
    }

    @if (!loading && !errorMessage && hasItems) {
    <input type="text" placeholder="Search" class="search" [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" />

    <div class="table-wrapper">
        @if(paginatedItems.length > 0){
        <app-product-table [items]="paginatedItems" [openMenuId]="openMenuId" (edit)="editItem($event)"
            (delete)="confirmDelete($event)" (toggleMenu)="toggleMenu($event)" />

        <app-pagination-table [resultsCount]="paginatedItems.length" (pageSizeChange)="onPageSizeChange($event)" />
        }

        @if(paginatedItems.length === 0){
        <div class="empty-state">
            <p>No se encontraron productos que coincidan con la búsqueda.</p>
            <button class="btn-retry" (click)="cleanFilter()">
                Limpiar filtro
            </button>
        </div>
        }

    </div>
    }

</div>

@if (itemToDelete) {
<app-delete-modal [item]="itemToDelete" (confirm)="deleteItem()" (cancel)="cancelDelete()" />
}